.me-section {
  padding-top: 170px;
  text-align: center;
  margin-bottom: 210px;
}
.me-image {
  margin-inline: auto;
}

.me-image {
}

.me-without-text-image {
  margin-bottom: 20px;
  margin-inline: auto;
}
.header2 {
}
