.products-section {
  margin-bottom: 213px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1100px;
  column-gap: min(85px, 7.14vw);
  padding-bottom: 200px;
  margin-bottom: 97px;
}
.products-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.products-card:nth-child(even) {
  justify-content: end;
  margin-bottom: -200px;
}

.products-button {
}

@media (max-width: 900px) {
  .products-card-container {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    padding-bottom: unset;
    row-gap: 40px;
  }
  .products-card {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--medium-dark);
  }
  .products-card:nth-child(even) {
    justify-content: end;
    margin-bottom: unset;
  }
}
